* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #c2d0e4;
    width: 100%;
    height: 100vh;
    color: #fff;
    display: grid;
    place-items: center;
}

.container {
    width: 80%;
    max-width: 850px;
    padding: 30px;
    text-align: center;
    position: absolute;
    top: 70;
}

.container h1 {
    font-size: 36px;
    margin-bottom: 40px;
    text-decoration: underline;
    text-underline-offset: 8px;
    color: darkblue;
}

.container .question {
    font-size: 26px;
    margin-top: 20px;
    color: black;
}

.container .choice {
    margin-top: 20px;
}

.choice {
    font-size: 17px;
    background-color: white;
    color: black;
    margin: 10px auto;
    border-radius: 5px;
    text-align: left;
    width: 60%;
    height: 52px;
    cursor: pointer;
    text-align: center;
}

.choice:hover {
    background-color: #ddd;
}

.nextBtn {
    width: 22%;
    font-size: 20px;
    padding: 12px 20px;
    font-weight: 600;
    background-color: rgb(2, 2, 100);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: -55px;
    margin-left: 85px;
}

.backBtn {
    width: 22%;
    font-size: 20px;
    padding: 12px 20px;
    font-weight: 600;
    background-color: rgb(2, 2, 100);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 11px;
}

#reloadBtn {
    width: 22%;
    font-size: 20px;
    padding: 12px 20px;
    font-weight: 600;
    background-color: rgb(2, 2, 100);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 221px;
}


.nextBtn:hover {
    background-color: rgb(66, 61, 114);
}

.choice.selected {
    background-color: rgb(14, 32, 92);
    color: rgb(255, 255, 255);
}


.scoreCard {
    font-size: 24px;
    margin-top: 20px;

}

.alert {
    background-color: rgb(204, 148, 148);
    color: rgb(136, 41, 41);
    border-radius: 5px;
    width: 20%;
    padding: 12px;
    top: 40;
    text-align: center;
    position: absolute;
    display: none;

}

#start-screen {
    display: block;
  }
  
  #quiz-screen {
    display: none;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .screen {
    display: none;
  }
  
  .hidden {
    display: none;
  }
  
  #error-message {
    color: red;
    font-weight: bold;
    
  }
  
  #username-display {
    position: absolute;
    top: -24px;
    left: -125px;
  }

  #user-info {
    display: grid;
  }

  #username {
    width: 246px;
    margin-left: 155px;
    margin-top: 14px;
    padding: 6px;
  }

  #email {
    width: 246px;
    margin-left: 155px;
    margin-top: 14px;
    padding: 6px;
  }

  #start-quiz-button {
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
    box-shadow: 2px 2px 15px 1px grey;
    border: none;
    padding: 10px;
  }

  #user-info label {
  font-size: 24px;
  margin-top: 10px;
  color: darkblue;
  }
 
  

  #scoreScreen {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }

#username-display {
    display: none;
    color: darkblue;
  }

  #quiz-screen h1 {
     display: none; 
  }

#userDataTable {
  display: none;
  border: 1px solid white;
  margin-top: 39px;
  padding: 65px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid hsl(224, 70%, 22%);
  text-align: left;
  padding: 8px;
  color: black;
}
  